body{
  background-color:#202020;
  color: white;
}

.Logo{
  font-size: 30px;
  font-family: 'Anton', sans-serif;
  
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}
.dropdown{
  margin-top: 5%;
  margin-left:5%;
}
.fa-shopping-cart{
  color:white
}
.colored-section{
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}
.testimonial-text{
 margin:0 20%;
 margin-top:5%;

}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.card{
  border-radius:20%;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  display: inline-block;
  margin:3%;
}

.card-body{
  text-align: center;
}

.cardbtn{
  margin:10px;
  margin-bottom: 0;
}

.outer{
  text-align: center;
  margin-top:120px;
}
.category{
  text-align: center;
}

.checkout{
  text-align: center;
  margin:3% 5%;
}

.manuplate{
  margin :0 20px;
  border-radius: 30%;
}

.remove{
  margin-top: 10%;
}

.back{
  margin-top: 3%;
}

